@font-face {
  font-family: 'bb-0';
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_0_0.eot'); /* IE9 Compat Modes */
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_0_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_0_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_0_0.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'bb-2';
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_2_0.eot'); /* IE9 Compat Modes */
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_2_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_2_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_2_0.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'bb-1';
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_1_0.eot'); /* IE9 Compat Modes */
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_1_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_1_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_1_0.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'bb-3';
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_3_0.eot'); /* IE9 Compat Modes */
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_3_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_3_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_3_0.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'bb-6';
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_6_0.eot'); /* IE9 Compat Modes */
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_6_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_6_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_6_0.ttf')  format('truetype') /* Safari, Android, iOS */
}

@font-face {
  font-family: 'bb-7';
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_7_0.eot'); /* IE9 Compat Modes */
  src: url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_7_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_7_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('https://mitchelwassler.s3-us-west-2.amazonaws.com/webfonts/301601_7_0.ttf')  format('truetype') /* Safari, Android, iOS */
}
body {
  font-family: 'bb-3';
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

a {
	color: inherit;
}

canvas {
	max-width: 100%;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}
